.carousel-inner{
    z-index: 0;
}
.carousel-div{
   top: 28%;
   left: 10%;
   padding: 2%;
}

header ul:hover .nav-items , header ul:focus .nav-items{
    display: flex;  
}
.cross:hover~.nav-items,.cross:focus~.nav-items {
display: none !important;
}
.cross{
    display: none;
}
ul:hover .cross{
    display: inline;
 }

@media (max-width: 640px) {
    .carousel-inner{
        z-index: 0;
    }
    .carousel-div{
       top: 6%;
       left: 9%;
       padding: 1%;
    }
}
@media (min-width: 640px) {
    .carousel-inner{
        z-index: 0;
    }
    .carousel-div{
       top: 20%;
       left: 10%;
       padding: 2%;
    }
}
@media(min-width: 768px) ,(min-width: 992px){
    .carousel-inner{
        z-index: 0;
    }
    .carousel-div{
       top: 28%;
       left: 10%;
       padding: 2%;
    }
}


